<div class="content">
    <div id="divChart">
      <!-- <button (click)="click()">clickme</button> -->
      <canvas id="myChart"></canvas></div>
    <div id="divChart2">
      <!-- <button (click)="click()">clcickd</button> -->
      <canvas id="lineChart"></canvas>
    </div>
    <div id="divChart3">
      <!-- <button (click)="click()">clcickd</button> -->
      <canvas id="pieChart"></canvas>
    </div>
    </div>
    <div class="content">
    <div id="divChart3">
      <!-- <button (click)="click()">clcickd</button> -->
      <canvas id="polar"></canvas>
    </div><div id="divChart4">
      <!-- <button (click)="click()">clcickd</button> -->
      <canvas id="radarChart"></canvas>
    </div></div>
    